:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem; 
  }
  
  #cardRegister{
    border: 4px solid;
    border-image-source: linear-gradient(45deg, #00DED6, #7979F7);
    border-image-slice: 1;
  }

  .inputToolTip{
    background: linear-gradient(to right, #00DED6, #7979F7);
  
  }
  .card-signin.register {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  #cardRegister .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  #cardRegister .card-body {
    padding: 2rem;
  }
  
  #registerForm {
    width: 100%;
  }
  
  /*Inputs Styles*/

  #registerInput {
    position: relative;
    margin-bottom: 1rem;
  }
  
  #registerInput input {
    height: auto;
    border-radius: 2rem;
  }
  
  #registerInput>input,
  #registerInput>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  #registerInput>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  /*on Hover Input Styles*/

  #registerInput>label:hover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  #registerUsername:hover{
    background: linear-gradient(to right, #00DED6, #7979F7);
    color: white;
  }
  
  #registerPassword:hover{
    background: linear-gradient(to right, #00DED6, #7979F7);
    color: white;
  }
  #repeatPassword:hover{
    background: linear-gradient(to right, #00DED6, #7979F7);
    color: white;
  }

  /*Placeholders Styles*/

  #registerInput input::-webkit-input-placeholder {
    color: transparent;
  }
  
  #registerInput input:-ms-input-placeholder {
    color: transparent;
  }
  
  #registerInput input::-ms-input-placeholder {
    color: transparent;
  }
  
  #registerInput input::-moz-placeholder {
    color: transparent;
  }
  
  #registerInput input::placeholder {
    color: transparent;
  }
  
  #registerInput input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  #registerInput input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  /*Button Style*/

  #registerForm .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  #registerButton{
    background: linear-gradient(to right, #00DED6, #7979F7);
    border: 0px
  }

  /*Button on Hover*/

  #registerButton:hover{
    background: linear-gradient(to left, #00DED6, #7979F7);
  }